
include README.md
include setupbase.py
include MANIFEST.in
include LICENSE.md
include package.json
include tsconfig.json
include package-lock.json
include .npmignore

graft src
graft style
graft jupyter-config


# Documentation
graft docs
exclude docs/\#*

# docs subdirs we want to skip
prune docs/build
prune docs/gh-pages
prune docs/dist
