
.jp-discovery-view {
    padding-bottom: 0px;
    color: var(--jp-ui-font-color1);
    background: var(--jp-layout-color1);
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.jp-discovery-list-view-wrapper {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.jp-discovery-view header {
    padding: 5px;
    padding-bottom: 0;
}

.jp-discovery-list-view {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 0;
    overflow: auto;
}

.jp-discovery-entry {
    padding: 4px 12px;
    border-bottom: solid var(--jp-border-width) var(--jp-border-color2);
}

.jp-discovery-entry-name {
    font-size: var(--jp-ui-font-size1);
    font-weight: 600;
}
.jp-discovery-entry-description {
    font-size: var(--jp-ui-font-size1);
    font-weight: 400;
}


.jp-discovery-view ul.pagination {
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}

.jp-discovery-view .pagination li {
    display: inline-block;
}

.jp-discovery-view .pagination .break a {
    cursor: default;
}

.jp-discovery-pagination {
    display: flex;
    justify-content: center;
}

.jp-discovery-entry .jp-discovery-install,
.jp-discovery-entry.jp-discovery-entry-installed .jp-discovery-uninstall {
    display: inline-block;
}

.jp-discovery-entry .jp-discovery-uninstall,
.jp-discovery-entry.jp-discovery-entry-installed .jp-discovery-install {
    display: none;
}


.jp-discovery-entry .jp-discovery-enable,
.jp-discovery-entry .jp-discovery-disable,
.jp-discovery-entry.jp-discovery-entry-installed.jp-discovery-entry-enabled .jp-discovery-enable {
    display: none;
}

.jp-discovery-entry.jp-discovery-entry-installed .jp-discovery-enable,
.jp-discovery-entry.jp-discovery-entry-installed.jp-discovery-entry-enabled .jp-discovery-disable {
    display: inline-block;
}


.jp-discovery-error {
    padding: 4px 12px;
}
