
/*
  Main widget layout and styling
*/

.jp-discovery-view {
    padding-bottom: 0px;
    color: var(--jp-ui-font-color1);
    background: var(--jp-layout-color1);
    display: flex;
    flex-direction: column;
}

.jp-discovery-content {
    overflow: auto;
}


/*
  List view layout and styling
*/

.jp-discovery-listview-wrapper {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.jp-discovery-view header {
    padding: 0 5px;
}

.jp-discovery-listview {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 0;
}

/*
  Error messages
*/
.jp-discovery-view .jp-discovery-error pre {
    white-space: pre-wrap;
}

/*
  Search bar layout and styling
*/

.jp-discovery-search-bar {
    padding: 8px;
    background-color: var(--jp-border-color3);
    border-bottom: 1px solid var(--jp-border-color1);
    box-shadow: var(--jp-toolbar-box-shadow);
    z-index: 2;
    flex: 0 0 auto;
}

.jp-discovery-input {
    background: transparent;
    width: calc(100% - 18px);
    float: left;
    border: none;
    outline: none;
    font-size: var(--jp-ui-font-size1);
    color: var(--jp-ui-font-color0);
    line-height: var(--jp-private-commandpalette-search-height);
}

.jp-discovery-search-wrapper {
    overflow: overlay;
    padding: 0px 8px;
    border: 1px solid var(--jp-border-color0);
    background-color: var(--jp-input-background-color-active);
    height: 30px;
}

.jp-discovery-search-wrapper::after {
    content: " ";
    color: var(--jp-ui-inverse-font-color1);
    background-color: var(--jp-brand-color1);
    position: absolute;
    top: 8px;
    right: 8px;
    height: 32px;
    width: 12px;
    padding: 0px 12px;
    background-image: var(--jp-icon-search);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.jp-discovery-view.p-mod-focused .jp-discovery-search-wrapper {
    border: var(--jp-border-width) solid var(--jp-brand-color1);
    box-shadow: inset 0 0 4px var(--jp-brand-color2);
}


/*
  List view pagination styling
*/

.jp-discovery-view ul.pagination {
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}

.jp-discovery-view .pagination li {
    display: inline-block;
}

.jp-discovery-view .pagination .break a {
    cursor: default;
}

.jp-discovery-pagination {
    display: flex;
    justify-content: center;
}

.jp-discovery-view header {
    display: flex;
    justify-content: space-between;
}

.jp-discovery-view header button.jp-discovery-refresh {
    border: 1px solid transparent;
    background-color: var(--jp-layout-color1);
}

.jp-discovery-view header button.jp-discovery-refresh:hover {
    border: 1px solid var(--jp-brand-color1);
}


/*
  Entry buttons visibility
*/

.jp-discovery-entry .jp-discovery-install,
.jp-discovery-entry.jp-discovery-entry-update .jp-discovery-update,
.jp-discovery-entry.jp-discovery-entry-installed .jp-discovery-uninstall {
    display: inline-block;
}

.jp-discovery-entry .jp-discovery-update,
.jp-discovery-entry .jp-discovery-uninstall,
.jp-discovery-entry.jp-discovery-entry-installed .jp-discovery-install {
    display: none;
}


.jp-discovery-entry .jp-discovery-enable,
.jp-discovery-entry .jp-discovery-disable,
.jp-discovery-entry.jp-discovery-entry-installed.jp-discovery-entry-enabled .jp-discovery-enable {
    display: none;
}

.jp-discovery-entry.jp-discovery-entry-installed .jp-discovery-enable,
.jp-discovery-entry.jp-discovery-entry-installed.jp-discovery-entry-enabled .jp-discovery-disable {
    display: inline-block;
}


/*
  Entry layout and styling
*/

.jp-discovery-entry {
    padding: 4px 12px;
    border-bottom: solid var(--jp-border-width) var(--jp-border-color2);
}

/* Precedence order update/error/warning matters! */
.jp-discovery-entry.jp-discovery-entry-update {
    border-left: solid 8px var(--jp-brand-color2);
    padding-left: 4px;
}

.jp-discovery-entry.jp-discovery-entry-error {
    border-left: solid 8px var(--jp-error-color2);
    padding-left: 4px;
}

.jp-discovery-entry.jp-discovery-entry-warning {
    border-left: solid 8px var(--jp-warn-color2);
    padding-left: 4px;
}

.jp-discovery-entry-name {
    font-size: var(--jp-ui-font-size1);
    font-weight: 600;
    margin-bottom: 3px;
}
.jp-discovery-entry-description {
    font-size: var(--jp-ui-font-size1);
    color: var(--jp-ui-font-color2);
    font-weight: 400;
}

.jp-discovery-loader,
.jp-discovery-error,
.jp-discovery-listview-message {
    padding: 4px 12px;
}

.jp-discovery-listview-message {
    font-size: var(--jp-ui-font-size1);
}

.jp-discovery-entry-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*
  Pending entry progress indicator
*/

.jp-discovery-pending {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--jp-layout-color1);
}

.jp-discovery-pending.jp-mod-hasPending:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    border-radius: 5px;
    background-color: var(--jp-brand-color1);
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

/*
  Entry buttons layout and styling
*/

.jp-discovery-entry-buttons {
    display: flex;
    flex-direction: column;
}

.jp-discovery-entry button {
    border: solid var(--jp-border-width) var(--jp-border-color2);
    font-size: var(--jp-ui-font-size0);
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 0px;
    margin-left: 3px;
    color: var(--jp-ui-font-color1);
    background-color: var(--jp-layout-color2)
}

.jp-discovery-entry button.jp-discovery-uninstall:hover {
    background-color: var(--jp-error-color2);
}

.jp-discovery-entry button.jp-discovery-disable:hover {
    background-color: var(--jp-error-color3);
}

.jp-discovery-entry button.jp-discovery-install:hover {
    background-color: var(--jp-success-color2);
}

.jp-discovery-entry button.jp-discovery-enable:hover {
    background-color: var(--jp-success-color3);
}

.jp-discovery-entry button.jp-discovery-update:hover {
    background-color: var(--jp-brand-color3);
}


/*
  Rebuild prompt dialog
*/

.jp-discovery-buildprompt {
    background-color: var(--jp-brand-color1);
    color: var(--jp-ui-inverse-font-color1);
    padding: 4px 8px;
    font-size: var(--jp-ui-font-size1);
    font-weight: 400;
}

.jp-discovery-buildprompt button {
    border: none;
    background-color: transparent;
    color: var(--jp-ui-inverse-font-color1);
    font-size: var(--jp-ui-font-size1);
    font-weight: 600;
    float: right;
    margin: 3px;
}

/*
  Companion packages dialog
*/

input[type=checkbox] {
    appearance: checkbox;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    height: auto;
}

/*
  Generic dialog
*/
.jp-discovery-dialog .jp-discovery-dialog-subheader {
    font-size: var(--jp-ui-font-size1);
    font-weight: 600;
    color: var(--jp-ui-font-color0);
}
